.ai-chat-history {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  /* Remove or adjust overflow property */
  overflow: visible;

} 
 /* Common styling for all chat messages */
 .chat-message {
    padding: 5px;
    margin: 5px;
    border-radius: 1px;
    max-width: 70%; /*Limit the width for better readability */
  }
  
  /* Styles for AI messages */
  .assistant-message {
    background-color: lightgray; /* User message background */
    color: black; /* Text color */
    text-align: left; /* Align text to the left */
    margin-right: auto; /* Push to the left side */
  }
  
  /* Styles for User messages */
  .user-message {
    background-color: lightblue; /* AI message background */
    color: black; /* Text color */
    text-align: right; /* Align text to the right */
    margin-left: auto; /* Push to the right side */
  }