.video-detail-header{
    padding-top: 15px;
  }
  
  .video-detail{
    margin-top: 40px;
    margin-left: 100px;
  }
  .example-header-image {
    background-image: url('https://yt3.ggpht.com/ytc/AAUvwnjuYQrnTYr-sXVEBvCAmtT4nxF-3yhh5KnP0W6xmQ=s176-c-k-c0x00ffffff-no-rj');
    background-size: cover;
  }
  
  .subtitles{
    justify-content: space-between;
  }
  
  mat-card[ng-reflect-router-link] {
    cursor: pointer;
  }
  
  .suggestion-bar {
    margin-top: 10px;
  }
  
  .video-avatar{
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  
  .subscribe-button {
    height: 40px;
    justify-content: right;
  }
  
  .subscribe-button-clicked {
    background-color: gray;
    height: 40px;
  }
  
  .view-count {
    padding-right: 5px;
  }
  
  .dot {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background-color: black;
    display: inline-block;
  }
  
  .video-upload-date{
    padding-left: 5px;
  }
  
  .thumbs-down {
    padding-left: 15px;
  }
  
  .like-dislike-section {
    padding-right: 10px;
  }
  .ai-chat-history {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    /* Remove or adjust overflow property */
    overflow: visible;
    /* Optional: Add padding or margins for better readability */
    padding: 10px 0;
  }
  
  /* Common styling for all chat messages */
.chat-message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%; /* Limit the width for better readability */
}

/* Styles for AI messages */
.assistant-message {
  background-color: lightgray; /* AI message background */
  color: black; /* Text color */
  text-align: right; /* Align text to the right */
  margin-left: auto; /* Push to the right side */
  border-top-right-radius: 0; /* Custom corner styling */
}

/* Styles for User messages */
.user-message {
  background-color: lightblue; /* User message background */
  color: black; /* Text color */
  text-align: left; /* Align text to the left */
  margin-right: auto; /* Push to the left side */
  border-top-left-radius: 0; /* Custom corner styling */
}

  
  